@page
@model JohnPenny.MSFS.SimConnectManager.REST.Pages.GlassCockpitModel
@{
}

<!DOCTYPE html>
<html class="">
    <head>
        <meta charset="utf-8">
        <title>Glass Cockpit • MSFS 2020 API Host</title>

        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>
            .mask    {
                width: 1024px;
                background-color: black;
                position:absolute;
            }
            .uppermask { 
                top:0px; left:0px; height:185px
            }
            .lowermask {
                top:570px; left:0px; height:198px; white-space: nowrap;
            }
            .pfd {
                top:1px; left:0; width: 256px
            }
            .mfd {
                top:1px; left:512px; width: 256px
            }
            .pfdcontrols {
                top:95px;
                left:430px;
                line-height:0;
                width:0;
            }
            .mfdcontrols {
                top:95px;
                left:900px;
                line-height:0;
                width:0;
            }
            .softkey  {
                width: 42.5px; 
                height: 42.5px;
            }
            .softkeyControl  {
                width: 39px; 
                height: 30px;
            }
            .toggleKey {
                top:0px; left:1000px; height:5px; width:5px; z-index:100; display: inline-block;
            }
            .footer {
                top:768px; left:0px;
                color: white;
            }
        </style>
    </head>
    <body>
        <button class="toggleKey" onclick="toggleMask()" >&ZeroWidthSpace;</button>
        <embed src="Spacedesk/spacedesk.html" style="width:1024px; height: 768px; top:0;left:0;position:absolute;">
        <div class="mask uppermask" id="upper">
            <table class="mask pfdcontrols" cellspacing="0" cellpadding="0">
                <tr>
                    <th>
                        <img class="softkeyControl" src="res/img/direct.png" onclick="onButtonPressed('(>H:AS1000_PFD_DIRECTTO)')" />
                    </th>
                    <th>
                        <img class="softkeyControl" src="res/img/menu.png" onclick="onButtonPressed('(>H:AS1000_PFD_MENU_Push)')" />
                    </th>
                <tr>
                </tr>
                    <th>
                        <img class="softkeyControl" src="res/img/fpl.png" onclick="onButtonPressed('(>H:AS1000_PFD_FPL_Push)')" />
                    </th>
                    <th>
                        <img class="softkeyControl" src="res/img/proc.png" onclick="onButtonPressed('(>H:AS1000_PFD_PROC_Push)')" />
                    </th>
                <tr>
                </tr>
                    <th>
                        <img class="softkeyControl" src="res/img/clr.png" onclick="onButtonPressed('(>H:AS1000_PFD_CLR)')" />
                    </th>
                    <th>
                        <img class="softkeyControl" src="res/img/ent.png" onclick="onButtonPressed('(>H:AS1000_PFD_ENT_Push)')" />
                    </th>
                </tr>
            </table>
            <table class="mask mfdcontrols" cellspacing="0" cellpadding="0">
                <tr>
                    <th>
                        <img class="softkeyControl" src="res/img/direct.png" onclick="onButtonPressed('(>H:AS1000_MFD_DIRECTTO)')" />
                    </th>
                    <th>
                        <img class="softkeyControl" src="res/img/menu.png" onclick="onButtonPressed('(>H:AS1000_MFD_MENU_Push)')" />
                    </th>
                <tr>
                </tr>
                    <th>
                        <img class="softkeyControl" src="res/img/fpl.png" onclick="onButtonPressed('(>H:AS1000_MFD_FPL_Push)')" />
                    </th>
                    <th>
                        <img class="softkeyControl" src="res/img/proc.png" onclick="onButtonPressed('(>H:AS1000_MFD_PROC_Push)')" />
                    </th>
                <tr>
                </tr>
                    <th>
                        <img class="softkeyControl" src="res/img/clr.png" onclick="onButtonPressed('(>H:AS1000_MFD_CLR)')" />
                    </th>
                    <th>
                        <img class="softkeyControl" src="res/img/ent.png" onclick="onButtonPressed('(>H:AS1000_MFD_ENT_Push)')" />
                    </th>
                </tr>
            </table>
        </div>
        <div class="mask lowermask" id="lower">
            <table class="mask pfd" cellspacing="0" cellpadding="0">
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_PFD_SOFTKEYS_1)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_PFD_SOFTKEYS_2)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_PFD_SOFTKEYS_3)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_PFD_SOFTKEYS_4)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_PFD_SOFTKEYS_5)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_PFD_SOFTKEYS_6)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_PFD_SOFTKEYS_7)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_PFD_SOFTKEYS_8)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_PFD_SOFTKEYS_9)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_PFD_SOFTKEYS_10)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_PFD_SOFTKEYS_11)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_PFD_SOFTKEYS_12)')" />
            </table>
            <table class="mask mfd" cellspacing="0" cellpadding="0">
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_MFD_SOFTKEYS_1)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_MFD_SOFTKEYS_2)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_MFD_SOFTKEYS_3)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_MFD_SOFTKEYS_4)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_MFD_SOFTKEYS_5)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_MFD_SOFTKEYS_6)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_MFD_SOFTKEYS_7)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_MFD_SOFTKEYS_8)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_MFD_SOFTKEYS_9)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_MFD_SOFTKEYS_10)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_MFD_SOFTKEYS_11)')" />
                <img class="softkey" src="res/img/button.png" onclick="onButtonPressed('(>H:AS1000_MFD_SOFTKEYS_12)')" />
            </table>
        </div>
        <div class="mask footer">
            Sound Effect from <a href="https://pixabay.com/sound-effects/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=music&amp;utm_content=105809">Pixabay</a><br/>
            Only works with <a href="https://www.mobiflight.com/de/index.html">MobiFlight</a> WASM installed (MobiFlight Rocks!)</div>
        <audio id="audio" src="res/media/flashlight-clicking-on-105809.mp3"></audio>
        <script>
            function onButtonPressed(name) {
                console.log("Pressed " + name)
                document.getElementById("audio");
                audio.play();
                fetch('http://@Request.Host/event', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ "name": name })
                })
            }
        </script>
        <script defer src="https://dagammla.gitlab.io/keep-silk-open/keep.js"></script>
        <script>
            //document.addEventListener("click", () => document.getElementById("rep").outerHTML = 'This page should now stay open')
            var SilkVisualMode = false
            var AlwaysUseSilk = true
        </script>
        <script>
            function toggleMask() {
              var upper = document.getElementById("upper");
              var lower = document.getElementById("lower");
              if (upper.style.display === "none") {
                upper.style.display = "block";
                lower.style.display = "block";
              } else {
                upper.style.display = "none";
                lower.style.display = "none";
              }
            }
        </script>
    </body>
</html>